extends layout

block content
  .container#container-login
    .row#row-login
      .col-3#header-empty
      .col-6.text-center#header-login
        h1 Login
        p Welcome to Belle-admin
      .col-3#header-empty
      .col-3#body-empty 
      .col-6.text-center#body-login
        form#login-form(action="/auth/login", method="post")   
          #div-id-input
            input#id(type="text", name="email" placeholder="email")
          #div-password-input  
            input#password(type="password", name="password" placeholder="password")
          if message
            p=message   
          .mt-3#div-login-button 
            button#login(type='submit') login
            button#KakaoTalkLogin(type='button') KakaoTalkLogin 
            button#signup(type='button') Signup
      .col-3#body-empty
  block javascript      
    script(src="/javascripts/login.js")      
  
  
