extends layout

block content
  .container#container-main
    .row#row-main
      .navbar.navbar-invers.navbar-fixed-left
        ul.nav.navbar.nav
         li.nav-item a(href="http://")
      //- .col-3#header-empty
      //- .col-6.text-center#header-main
      //-   h1 main
      //-   p Welcome to Belle-admin
      //- .col-3#header-empty
      //- .col-3#body-empty 
      //- .col-6.text-center#body-main
      //-    if data
      //-     p=data.name
            
      //- .col-3#body-empty

      //- .col-5#footer-empty
      //- .col-2.text-center#footer-main
          
      //- .col-5#footer-empty
  block javascript      
        
  
  
